          {% if site.owner.dribbble %}<li><a href="http://dribbble.com/{{ site.owner.dribbble }}">{% include svg-icons/dribbble.html %}</a></li>{% endif %}
          {% if site.owner.email %}<li><a href="mailto: {{ site.owner.email }}">{% include svg-icons/email.html %}</a></li>{% endif %}
          {% if site.owner.facebook %}<li><a href="http://facebook.com/{{ site.owner.facebook }}">{% include svg-icons/facebook.html %}</a></li>{% endif %}
          {% if site.owner.flickr %}<li><a href="http://flickr.com/{{ site.owner.flickr }}">{% include svg-icons/flickr.html %}</a></li>{% endif %}
          {% if site.owner.github %}<li><a href="http://github.com/{{ site.owner.github }}">{% include svg-icons/github.html %}</a></li>{% endif %}
          {% if site.owner.instagram %}<li><a href="http://instagram.com/{{ site.owner.instagram }}">{% include svg-icons/instagram.html %}</a></li>{% endif %}
          {% if site.owner.linkedin %}<li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}">{% include svg-icons/linkedin.html %}</a></li>{% endif %}
          {% if site.owner.pinterest %}<li><a href="http://pinterest.com/{{ site.owner.pinterest }}">{% include svg-icons/pinterest.html %}</a></li>{% endif %}
          {% if site.owner.rss %}<li><a href="{{ site.baseurl }}/feed.xml">{% include svg-icons/rss.html %}</a></li>{% endif %}
          {% if site.owner.twitter %}<li><a href="http://twitter.com/{{ site.owner.twitter }}">{% include svg-icons/twitter.html %}</a></li>{% endif %}
          {% if site.owner.stackoverflow %}<li><a href="http://stackoverflow.com/{{ site.owner.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a></li>{% endif %}
